body, td, th {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
}
bold {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
        font-weight: bold
 	}


body  { 
	color: #FFFFFF;
	font-family: arial;
	background-color: #000000;
	scrollbar-face-color: #3333FF; 
	scrollbar-shadow-color: #000000; 
	scrollbar-highlight-color: #000000; 
	scrollbar-3dlight-color: #000000; 
	scrollbar-darkshadow-color: #000000; 
	scrollbar-track-color: #000000; 
	scrollbar-arrow-color: #000000; 


font-size: 10px; }

td.header  {  
  font-size: 15px;  
  font-family: Verdana, Arial, Helvetica, sans-serif;
  color: #FFFFFF;
  background-image: url('grad.jpg');

 }
td.tip  {  
  font-size: 10px;  
font-family: arial;
  color: #FFFFFF;

 }

   
a{text-decoration:none; color:White; font-size: 10px;}
a:link{text-decoration:none; color:White; font-size: 10px;}
a:visited{text-decoration:none; color:White; font-size: 10px;}
a:hover{text-decoration:underline; color:White; font-size: 10px;}
a:active{text-decoration:none color:White; font-size: 10px;}

input.submit{
	
	font-size: 10px;
	color: #black;
	background-color: #FFFFFF;
	border-style: solid;
	border-color: #FFFFFF;
	border-width: 1px;
	
}
table.thinline {
   border-collapse:collapse;
   border:1px solid #900dbf;
   align:center;
   margin-left:auto;
   margin-right:auto;
   background-color: #000000;
   font-size: 10px;
	

  
}